DJANGO_SECRET_KEY=replace-with-a-secure-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
DB_ENGINE=postgres
POSTGRES_DB=mahilmart_tracking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin@123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SQLSERVER_HOST=192.168.0.113
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=MahilMart-Analytics
SQLSERVER_USER=mahilmartuser
SQLSERVER_PASSWORD=replace-with-your-sqlserver-password
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=replace-with-your-email@example.com
EMAIL_HOST_PASSWORD=replace-with-your-app-password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=replace-with-your-email@example.com
SERVER_EMAIL=replace-with-your-email@example.com
CONTACT_RECEIVER_EMAIL=replace-with-recipient@example.com
