DJANGO_SECRET_KEY=replace-with-a-secure-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
DB_ENGINE=postgres
POSTGRES_DB=mahilmart_tracking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin@123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SQLSERVER_HOST=192.168.0.113
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=MahilMart-Analytics
SQLSERVER_USER=mahilmartuser
SQLSERVER_PASSWORD=replace-with-your-sqlserver-password
